@page "/"

<h1>Hello, world!</h1>
@if (HasGeolocation)
{
    <p>This device has geolocation</p>
    <p>Your Latitude:  @Lat</p>
    <p>Your Longitued: @Long</p>
} else
{
    <p>This device does not have geolocation</p>
}
@if (HasGeolocaitonErrors)
{
    <p>Error @ErrorMessage</p>
}

<SurveyPrompt Title="How is Blazor working for you?" />

@functions  {
    bool HasGeolocation;
    double Lat;
    double Long;
    bool HasGeolocaitonErrors;
    string ErrorMessage;

    protected override async Task OnInitAsync()
    {
        HasGeolocation = await Geolocation.HasGeolocationFeature();
        if (HasGeolocation)
        {
            var g = new Geolocation();
            await g.WatchPosition(Handler, HandleError);
        }

    }

    void Handler(Position p)
    {
        Lat = p.Coords.Latitude;
        Long = p.Coords.Longitude;
        HasGeolocaitonErrors = false;
        StateHasChanged();
    }
    void HandleError(PositionError err)
    {
        HasGeolocaitonErrors = true;
        switch (err)
        {
            case PositionError.PERMISSION_DENIED:
                ErrorMessage = "Permission to access location was denied by the user.";
                break;
            case PositionError.POSITION_UNAVAILABLE:
                ErrorMessage = "No location data was available.";
                break;
            case PositionError.TIMEOUT:
                ErrorMessage = "Time out receiving location data.";
                break;
            default:
                break;

        }
    }
}